.title{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 2%;
    margin-bottom: 2%;
     background-image: linear-gradient(to bottom, #A5A4CB 0%, #8989BB
     100%);
}