img {
  max-height: 50px;
}
.container {
  height: 100vh;
}
.search-bar-row {
  padding: 3% 0%;
}
.final-table-row {
  padding-bottom: 12%;
}
#arrow-btn {
  height: 30px;
  background-image: url(./arrow.png);
  background-color: transparent;
  background-size: 100%;
  background-position: center;
}